.image-area{
    background-color: #dedede;
    color: #fff;
    font-size: bold;
    height: 200px;
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
    font-size: 1.25em;
    text-align: center;
    vertical-align: center;;
}

.content-area{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    width: 100%;
}

.list-box{
    margin-top: 15px;
    margin-bottom: 15px;
}